<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy;2014 xtony77 <a href="<%= new_admin_session_path %>">管理登入</a></p>
            </div>
        </div>
    </div>
</footer>